@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .heading {
    font-size: 48px;
    margin: 64px 48px 0 48px;
  }
  .content {
    justify-content: space-evenly;
    margin: 64px;
  }
  .state {
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .list-item {
    font-size: 36px;
    margin: 24px 0;
  }
  .content {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .list-item {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 425px) {
  .heading {
    font-size: 36px;
  }
  .theme {
    top: 16px;
    right: 16px;
  }
}
