---
import "../styles/index.css";
---

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Checklist - a reminder to check email every day</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link 
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" 
			rel="stylesheet"
		>
		<link 
			rel="stylesheet" 
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" 
		/>
	</head>

	<body>
		<div class="container">
			<header>
				<h1 class="heading" id="heading">Cześć!</h1>
			</header>
			<main>
				<section class="content">
					<ul class="checklist" id="checklist">
						<li class="list-item">
							<input type="checkbox" name="" id="proton">
							Mail Proton
						</li>
						<li class="list-item">
							<input type="checkbox" name="google" id="">
							Mail Google
						</li>
						<li class="list-item">
							<input type="checkbox" name="agh" id="">
							Mail AGH
						</li>
						<li class="list-item">
							<input type="checkbox" name="instagram" id="">
							Instagram
						</li>
						<li class="list-item">
							<input type="checkbox" name="facebook" id="">
							Facebook
						</li>
					</ul>
					<img 
						src="images/flame.png" 
						alt="" 
						class="state" 
						id="state-symbol"
					>
				</section>
			</main>
			<footer>
				<p class="copyright">Szymon Hyziak &copy; 2023</p>
			</footer>
			<button class="theme">
				<span class="material-symbols-outlined">dark_mode</span>
			</button>
		</div>
		<script>
            import "../scripts/index.js";
        </script>
	</body>
</html>
