---
import "../styles/list-item.css";
import "../styles/media.css";
const { id, name } = Astro.props;
---

<li class="list-item">
    <label for={id}>
        <input type="checkbox" class="checkbox" name="" id={id} />{name}
    </label>
</li>
